<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style lang="css">
    .head {
      font-size: 20px;
    }

    .im {
      color: black;
    }

    .content {
      margin: 10px;
    }

    .signature {
      margin: 10px;
    }
  </style>
</head>
<body>
  <div class="head">
    <%- contents %>
  </div>
  <div class="content">
    <div>
      <p>ご変更日時：<%= year %>年<%= month %>月<%= day %> <%= time %></p>
      <p>ご登録者名：苗字名前様</p>
      <p>ご登録メールアドレス：<%= mail %></p>
      <p>ログインの際は、メールアドレスとパスワードを入力してください。</p>
    </div>
  <div class="signature">
    <%- signature %>
  </div>
</body>
</html>

