<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style lang="css">
    .head {
      font-size: 20px;
    }

    .im {
      color: black;
    }

    .content {
      margin: 10px;
    }

    .signature {
      margin: 10px;
    }
  </style>
</head>
<body>
  <div class="head">
    <%- contents %>
  </div>
  <div class="content">
    <div>
      <label>
        ご登録メールアドレス：<%= mail %>
      </label>
    </div>
    <div>
      <p>下記のURLにアクセス頂くと、パスワード設定画面が表示されます。</p>
      <p>画面音指示に従って、パスワードの設定処理を行ってください。</p>
      <p>お客様の環境によっては、一部の文字列がURLとして認識されていない</p>
      <p>場合があります。</p>
      <p>その場合は下記のURLを全てコピーし、ブラウザのアドレス欄に貼り付け</p>
      <p>てからアクセスください。</p>
      <a href="<%= url %>"><%= url %></a>
      <p>このページはパスワード変更のリクエストから24時間有効です。</p>
      <p>それ以降は無効となりますので、24時間以内にパスワードの設定をお願いします。</p>
    </div>
  <div class="signature">
    <%- signature %>
  </div>
</body>
</html>

